/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

input::placeholder {
    font-family: 'Exo 2', sans-serif;
}

h1, h2, .black-spaced {
    letter-spacing: 5px;
    color: black;
}

.content-description {
    color: black;
    text-align: justify;
    text-align-last: center;
    max-width: 1000px;
    margin: auto;
}

.nav-hover {
    letter-spacing: 5px;
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-hover:hover {
    background-color: rgba(0, 255, 255, 0.226);
    border-radius: 10px;
}

/* Style the header and navigation */
header {
    background-color: #33383a;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.categories h2 {
    margin-bottom: 20px;
}

.categories, .assets {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
  
.asset-category {
    border: 3px solid #b4b4b4;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}
  
.asset-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.asset-item img {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 50px;
}

.asset-item video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 50px;
}

.asset-item audio {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.asset-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  
.asset-item a:hover {
    color: red;
}

  

/* Style for the categories dropdown */
.categories-dropdown {
    display: none;
    position: absolute;
    background-color: #33383a; /* Match the header background color */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    z-index: 1;
    border-radius: 10px; /* Rounded corners */
    width: 160px; /* Adjust the width as needed */
}

.categories-link:hover .categories-dropdown {
    display: block;
    transform: translateY(10px); /* Add a subtle dropdown effect */
}

.categories-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-dropdown ul li {
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px; /* Rounded corners for each item */
}

.categories-dropdown ul li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.categories-dropdown ul li:hover {
    background-color: teal; /* Change the background color on hover */
    color: #fff; /* Text color on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px; /* Adjust the width as needed */
    margin: 20px auto; /* Adjust the margin for placement */
}

#search-input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #d5feff;
}

#search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search-button img {
    width: 20px; /* Adjust the size of the search icon */
    height: 20px;
}

.logo {
    width: 120px;
}

.homepage-pics {
    width: 250px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.profile_logo {
    width: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 20px;
}

.nav-links li {
    margin-right: 20px;
    margin-top: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content area */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background-image: url('../images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #33383a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: teal;
    color: white;
}

/* Style the footer */
.footer {
    background-color: #33383a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.black-bar {
    background-color: #33383a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style for the delete button */
.delete_btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for the delete button */
  .delete_btn:hover {
    background-color: #ff5555;
  }